Repository YAPP-Github/TnT-Android, pull requests merged in 2025-02, with the labels that each got.

#60 [TNT-189] 트레이니 알림 화면 UI 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Toggle.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/notification/Notification.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/notification/model/NotificationIcon.kt
  core/designsystem/src/main/res/drawable/ic_link_notif.xml
  core/designsystem/src/main/res/drawable/ic_schedule_notif.xml
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/java/co/kr/tnt/ui/model/NotificationState.kt
  core/ui/src/main/java/co/kr/tnt/ui/util/NotificationTimeUtil.kt
  core/ui/src/main/res/values/strings.xml
  domain/src/main/java/co/kr/tnt/domain/model/NotificationInfo.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/notification/.gitignore
  feature/trainee/notification/build.gradle.kts
  feature/trainee/notification/src/main/AndroidManifest.xml
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationContract.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationScreen.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationViewModel.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/navigation/TraineeNotificationNavigation.kt
  settings.gradle.kts
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#61 [TNT-188] 트레이너 알림 화면 UI 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/notification/Notification.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/java/co/kr/tnt/ui/model/NotificationState.kt
  domain/src/main/java/co/kr/tnt/domain/model/NotificationInfo.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/navigation/TraineeConnectNavigation.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpCompletePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/CodeGenerationPage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectScreen.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/navigation/TrainerConnectNavigation.kt
  feature/trainer/notification/.gitignore
  feature/trainer/notification/build.gradle.kts
  feature/trainer/notification/src/main/AndroidManifest.xml
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationContract.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationScreen.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationViewModel.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/navigation/TrainerNotificationNavigation.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpCompletePage.kt
  feature/webview/src/main/java/co/kr/tnt/webview/WebViewNavigation.kt
  feature/webview/src/main/java/co/kr/tnt/webview/WebViewScreen.kt
  settings.gradle.kts
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#63 [TNT-211] TimePicker 컴포넌트 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TimePicker.kt
  core/designsystem/src/main/res/values/strings.xml
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#66 [TNT-182] 트레이니 홈 화면 바텀 네비게이션 UI 구현
  core/designsystem/src/main/res/drawable/ic_navbar_home.xml
  core/designsystem/src/main/res/drawable/ic_navbar_mypage.xml
  core/ui/src/main/java/co/kr/tnt/ui/model/NotificationState.kt
  core/ui/src/main/java/co/kr/tnt/ui/utils/FileUtils.kt
  core/ui/src/main/java/co/kr/tnt/ui/utils/NotificationTimeUtil.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainTab.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#65 [TNT-115] 트레이너, 트레이니 연결 기능 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Dialog.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/java/co/kr/tnt/ui/model/DefaultUserProfile.kt
  core/ui/src/main/res/values/strings.xml
  data/network/src/main/java/co/kr/data/network/di/NetworkModule.kt
  data/network/src/main/java/co/kr/data/network/model/ConnectRequest.kt
  data/network/src/main/java/co/kr/data/network/model/ConnectRequestResponse.kt
  data/network/src/main/java/co/kr/data/network/model/ConnectedTraineeResponse.kt
  data/network/src/main/java/co/kr/data/network/model/InviteCodeResponse.kt
  data/network/src/main/java/co/kr/data/network/model/VerifyCodeResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/ConnectRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/ConnectRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/di/RepositoryModule.kt
  domain/src/main/java/co/kr/tnt/domain/model/ConnectRequestResult.kt
  domain/src/main/java/co/kr/tnt/domain/model/ConnectedResult.kt
  domain/src/main/java/co/kr/tnt/domain/model/InviteCodeResult.kt
  domain/src/main/java/co/kr/tnt/domain/repository/ConnectRepository.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/PTSessionFormPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectCompletePage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectContract.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/component/CodeTextField.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/model/InputState.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/model/PTSessionFormData.kt
  feature/trainee/connect/src/main/res/values/strings.xml
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineePTPurposePage.kt
  feature/trainee/signup/src/main/res/values/strings.xml
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectContract.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectScreen.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/navigation/TrainerConnectNavigation.kt
  feature/trainer/connect/src/main/res/values/strings.xml
  feature/trainer/invite/.gitignore
  feature/trainer/invite/build.gradle.kts
  feature/trainer/invite/src/main/AndroidManifest.xml
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteContract.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteScreen.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteViewModel.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/navigation/TrainerInviteNavigation.kt
  feature/trainer/invite/src/main/res/values/strings.xml
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/navigation/TrainerMainNavigation.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationContract.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationScreen.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/navigation/TrainerNotificationNavigation.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/navigation/TrainerSignUpNavigation.kt
  settings.gradle.kts
Labels: ✨ Feat, 🌻 선정

#67 [TNT-180] 트레이니 주간 캘린더 연동
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/utils/CalendarUtils.kt
  core/designsystem/src/main/res/drawable/ic_alarm.xml
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTHomeTopBar.kt
  core/ui/src/main/java/co/kr/tnt/ui/utils/FileUtils.kt
  domain/src/main/java/co/kr/tnt/domain/model/RecordList.kt
  feature/trainee/home/build.gradle.kts
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeContract.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/home/build.gradle.kts
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
Labels: ✨ Feat, 🌻 선정

#68 [TNT-178] 트레이너 홈화면 캘린더 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/MonthCalendar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/composable/CalendarCell.kt
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTHomeTopBar.kt
  data/network/src/main/java/co/kr/data/network/model/trainer/MonthlyPtSessionCountsResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TrainerRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/ConnectRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/SignUpRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/TrainerRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/di/RepositoryModule.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainer/DailyPtSessionCount.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TrainerRepository.kt
  domain/src/main/java/co/kr/tnt/domain/utils/DateFormatter.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#69 [TNT-179] 트레이너 일별 수업 조회 기능 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/card/Card.kt
  core/designsystem/src/main/res/drawable/ic_fill_check_false.xml
  core/designsystem/src/main/res/drawable/ic_fill_check_true.xml
  data/network/src/main/java/co/kr/data/network/model/trainer/DailyPtSessionsResponse.kt
  data/network/src/main/java/co/kr/data/network/model/trainer/MonthlyPtSessionCountsResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TrainerRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/TrainerRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/PtSession.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainer/TrainerDailyPtSession.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainer/TrainerDailyPtSessionCount.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TrainerRepository.kt
  domain/src/main/java/co/kr/tnt/domain/utils/DateFormatter.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#74 [TNT-224] 트레이너 회원 목록 화면 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/card/Card.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/chip/Chip.kt
  data/network/src/main/java/co/kr/data/network/model/trainee/DailyRecordResponse.kt
  data/network/src/main/java/co/kr/data/network/model/trainer/MemberListResponse.kt
  data/repository/src/main/java/co/kr/data/repository/TrainerRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/DailyRecord.kt
  domain/src/main/java/co/kr/tnt/domain/model/MemberInfo.kt
  domain/src/main/java/co/kr/tnt/domain/model/RecordList.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainee/TraineeDailyRecord.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TrainerRepository.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeContract.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/navigation/TrainerMainNavigation.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMemberContract.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMembersScreen.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMembersViewModel.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/navigation/TrainerMembersNavigation.kt
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#73 [TNT-184] 트레이너 마이페이지 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Dialog.kt
  core/designsystem/src/main/res/drawable/ic_bomb.xml
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTMyPageButton.kt
  core/ui/src/main/java/co/kr/tnt/ui/extensions/Context.kt
  core/ui/src/main/java/co/kr/tnt/ui/permission/PermissionRequestDialog.kt
  core/ui/src/main/res/values/strings.xml
  data/network/src/main/java/co/kr/data/network/model/UserResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/LoginRemoteDataSource.kt
  data/network/src/main/java/co/kr/data/network/source/UserRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/LoginRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/SettingRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/TrainerRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/di/RepositoryModule.kt
  data/storage/src/main/java/co/kr/data/storage/di/StorageModule.kt
  data/storage/src/main/java/co/kr/data/storage/source/SessionLocalDataSource.kt
  data/storage/src/main/java/co/kr/data/storage/source/SettingLocalDataSource.kt
  domain/src/main/java/co/kr/tnt/domain/model/User.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainer/TrainerManagementMemberCount.kt
  domain/src/main/java/co/kr/tnt/domain/repository/LoginRepository.kt
  domain/src/main/java/co/kr/tnt/domain/repository/SettingRepository.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TrainerRepository.kt
  domain/src/main/java/co/kr/tnt/domain/utils/AppUrls.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginScreen.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/MainContract.kt
  feature/main/src/main/java/co/kr/tnt/main/MainViewModel.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/model/DialogState.kt
  feature/trainee/mypage/src/main/res/values/strings.xml
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/mypage/build.gradle.kts
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageContract.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageViewModel.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/navigation/TrainerMyPageNavigation.kt
  feature/trainer/mypage/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨ Feat, 🌲 정호

#76 [TNT-177] 바텀 네비게이션 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/bottombar/BottomBar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/bottombar/BottomTab.kt
  core/designsystem/src/main/res/drawable/ic_navbar_feedback.xml
  core/designsystem/src/main/res/drawable/ic_navbar_members.xml
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainState.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainTab.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainState.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainTab.kt
Labels: ✨ Feat, 🌲 정호

#94 [TNT-236] 앱 로고 적용
  app/src/main/ic_launcher-playstore.png
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-anydpi/ic_launcher.xml
  app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/ic_launcher_background.xml
  feature/main/src/main/AndroidManifest.xml
  feature/main/src/main/res/drawable/ic_splash.xml
  feature/main/src/main/res/values/themes.xml
Labels: 🔧 Chore, 🌻 선정

#98 [TNT-180] 트레이니 홈 화면 주간 기록 출력 API 연동
  data/network/src/main/java/co/kr/data/network/model/trainee/MonthlyRecordStateResponse.kt
  data/network/src/main/java/co/kr/data/network/model/trainee/WeeklyRecordedDatesResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TraineeRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/TraineeRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainee/TraineeDailyRecordStatus.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TraineeRepository.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeContract.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeViewModel.kt
Labels: ✨ Feat, 🌻 선정

#99 [TNT-243] Snackbar 구현 및 적용
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Toast.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/snackbar/Snackbar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/snackbar/SnackbarHost.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginScreen.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTApp.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionScreen.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteContract.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteScreen.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteViewModel.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpScreen.kt
Labels: ✨ Feat, 🌲 정호

#93 [TNT-245] 트레이니 식단 기록 확인 화면 구현
  core/designsystem/src/main/res/drawable/ic_more.xml
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  data/network/src/main/java/co/kr/data/network/model/trainee/DailyRecordResponse.kt
  data/network/src/main/java/co/kr/data/network/model/trainee/MealRecordDetailResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TraineeRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/TraineeRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/DailyRecord.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainee/TraineeMealRecordDetail.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TraineeRepository.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/navigation/TraineeHomeNavigation.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/navigation/TraineeMainNavigation.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailContract.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailViewModel.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/navigation/TraineeMealRecordNavigation.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordContract.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordViewModel.kt
Labels: ✨ Feat, 🌻 선정

#101 [TNT-234] 트레이너 PT 세션 완료, 회원수 조회 API 연동
  data/network/src/main/java/co/kr/data/network/model/UserResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TrainerRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/TrainerRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/User.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainer/TrainerManagementMemberCount.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TrainerRepository.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageContract.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
Labels: ✨ Feat, 🌲 정호

#100 [TNT-181] 트레이니 홈 화면 일별 기록 출력 API 연동
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/card/Card.kt
  core/designsystem/src/main/res/values/strings.xml
  data/network/src/main/java/co/kr/data/network/model/trainee/DailyRecordResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/TraineeRemoteDataSource.kt
  data/repository/src/main/java/co/kr/data/repository/TraineeRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/DailyRecord.kt
  domain/src/main/java/co/kr/tnt/domain/model/trainee/TraineeDailyRecord.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TraineeRepository.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeContract.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeViewModel.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordScreen.kt
Labels: ✨ Feat, 🌻 선정

#103 [TNT-249] 피드백 빈 화면 UI 구현
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTCountTopBar.kt
  feature/trainer/feedback/src/main/java/co/kr/tnt/trainer/feedback/TrainerFeedbackScreen.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMembersScreen.kt
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#104 [TNT-247] 트레이니 마이페이지 연결 여부 반영
  data/network/src/main/java/co/kr/data/network/model/UserResponse.kt
Labels: ✨ Feat, 🌻 선정

#107 [TNT-248] 트레이니 회원가입 변동 사항 반영
  data/network/src/main/java/co/kr/data/network/model/SignUpRequest.kt
  data/network/src/main/java/co/kr/data/network/model/UserResponse.kt
  domain/src/main/java/co/kr/tnt/domain/model/User.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeNoteForTrainerPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpContract.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
Labels: ✨ Feat, 🌻 선정

#108 [TNT-251] Topbar 관련 오류 수정
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/bottombar/BottomBar.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/navigation/TraineeHomeNavigation.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainTab.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/navigation/TraineeMyPageNavigation.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationScreen.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionScreen.kt
  feature/trainer/feedback/src/main/java/co/kr/tnt/trainer/feedback/TrainerFeedbackScreen.kt
  feature/trainer/feedback/src/main/java/co/kr/tnt/trainer/feedback/navigation/TrainerFeedbackNavigation.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/navigation/TrainerHomeNavigation.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainTab.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMembersScreen.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/navigation/TrainerMembersNavigation.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/navigation/TrainerMyPageNavigation.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationScreen.kt
Labels: 🛠️ Fix, 🌲 정호

#109 [TNT-251][TNT-238] 중복 클릭 방지 및 로딩 출력 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/snackbar/Snackbar.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTLoading.kt
  core/ui/src/main/java/co/kr/tnt/ui/extensions/NavController.kt
  core/ui/src/main/java/co/kr/tnt/ui/utils/Throttle.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginViewModel.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/PTSessionFormPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectContract.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordContract.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordViewModel.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpCompletePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpContract.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionContract.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionScreen.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionViewModel.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpCompletePage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpContract.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#110 [TNT-190] 트레이니 연결 요청 팝업 기능 구현
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTCheckToggleDialog.kt
  core/ui/src/main/res/values/strings.xml
  data/network/src/main/java/co/kr/data/network/model/CheckSessionResponse.kt
  data/repository/src/main/java/co/kr/data/repository/ConnectRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/LoginRepositoryImpl.kt
  data/storage/src/main/java/co/kr/data/storage/di/StorageModule.kt
  data/storage/src/main/java/co/kr/data/storage/source/ConnectLocalDataSource.kt
  domain/src/main/java/co/kr/tnt/domain/repository/ConnectRepository.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/PTSessionFormPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectCompletePage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/connect/src/main/res/values/strings.xml
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeContract.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeViewModel.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/navigation/TraineeHomeNavigation.kt
  feature/trainee/home/src/main/res/values/strings.xml
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainee/signup/src/main/res/values/strings.xml
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectCompletePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupPage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
  feature/trainer/signup/src/main/res/values/strings.xml
Labels: ✨ Feat, 🛠️ Fix, 🌻 선정

#111 [TNT-187] FCM 기본 세팅
  .github/workflows/android-ci.yaml
  .gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/co/kr/tnt/service/MessagingService.kt
  build.gradle.kts
  data/network/src/main/java/co/kr/data/network/model/LoginRequest.kt
  data/repository/src/main/java/co/kr/data/repository/LoginRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/repository/LoginRepository.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/co/kr/tnt/login/LoginContract.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginScreen.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginViewModel.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/MainContract.kt
  feature/main/src/main/java/co/kr/tnt/main/MainViewModel.kt
  gradle/libs.versions.toml
Labels: ✨ Feat, 🔧 Chore, 🌲 정호

#113 [TNT-237] 세션 만료 다이얼로그 출력
  .gitignore
  core/ui/src/main/res/values/strings.xml
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTApp.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
Labels: ✨ Feat, 🔧 Chore, 🌻 선정

#112 [TNT-241] 트레이너 연결 촉구 팝업 출력
  data/repository/src/main/java/co/kr/data/repository/ConnectRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/repository/ConnectRepository.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeViewModel.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/navigation/TrainerHomeNavigation.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
Labels: ✨ Feat, 🌻 선정

#114 [TNT-000] QA 반영
  app/src/main/ic_launcher-playstore.png
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/ic_launcher_background.xml
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/card/Card.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/model/ScreenMode.kt
  data/repository/src/main/java/co/kr/data/repository/TraineeRepositoryImpl.kt
  domain/src/main/java/co/kr/tnt/domain/model/User.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TraineeRepository.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/navigation/TraineeConnectNavigation.kt
  feature/trainee/home/src/main/java/co/kr/tnt/trainee/home/TraineeHomeScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/TraineeMainScreen.kt
  feature/trainee/main/src/main/java/co/kr/tnt/trainee/main/navigation/TraineeMainNavigation.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/detail/TraineeMealRecordDetailScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordContract.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordViewModel.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/navigation/TraineeMyPageNavigation.kt
  feature/trainee/notification/src/main/java/co/kr/tnt/trainee/notification/TraineeNotificationViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineePTPurposePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpContract.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/navigation/TrainerHomeNavigation.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteScreen.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/navigation/TrainerInviteNavigation.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/TrainerMainScreen.kt
  feature/trainer/main/src/main/java/co/kr/tnt/trainer/main/navigation/TrainerMainNavigation.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/TrainerMembersScreen.kt
  feature/trainer/members/src/main/java/co/kr/tnt/trainer/members/navigation/TrainerMembersNavigation.kt
  feature/trainer/notification/src/main/java/co/kr/tnt/trainer/notification/TrainerNotificationViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupPage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpContract.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/navigation/TrainerSignUpNavigation.kt
Labels: 🌻 선정

#116 [TNT-244] 0.0.1 버전 배포 💣💣💣
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/main/java/co/kr/tnt/service/MessagingService.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageContract.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageViewModel.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageContract.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageScreen.kt
  feature/trainer/mypage/src/main/java/co/kr/tnt/trainer/mypage/TrainerMyPageViewModel.kt
Labels: 🛠️ Fix, 🌲 정호, 🔖 Release

#120 [TNT-000] QA 반영
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/bottombar/BottomBar.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionScreen.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordContract.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeNoteForTrainerPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupPage.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionScreen.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/navigation/AddPtSessionNavigation.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/navigation/TrainerHomeNavigation.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupPage.kt
Labels: 🛠️ Fix, 🌻 선정

#121 [TNT-000] QA 반영
  app/build.gradle.kts
  core/designsystem/src/main/java/co/kr/tnt/designsystem/snackbar/Snackbar.kt
  core/designsystem/src/main/res/drawable/ic_check_success.xml
  core/ui/src/main/java/co/kr/tnt/ui/coil/ResizeTransformation.kt
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTLoading.kt
  core/ui/src/main/java/co/kr/tnt/ui/extensions/Bitmap.kt
  core/ui/src/main/java/co/kr/tnt/ui/model/SnackbarType.kt
  core/ui/src/main/java/co/kr/tnt/ui/utils/FileUtils.kt
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/MainContract.kt
  feature/main/src/main/java/co/kr/tnt/main/MainViewModel.kt
  feature/trainee/mealrecord/src/main/java/co/kr/tnt/trainee/mealrecord/record/TraineeMealRecordViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainer/addptsession/src/main/java/co/kr/tnt/trainer/addptsession/AddPtSessionContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeContract.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeScreen.kt
  feature/trainer/home/src/main/java/co/kr/tnt/trainer/home/TrainerHomeViewModel.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteScreen.kt
  feature/trainer/invite/src/main/java/co/kr/tnt/trainer/invite/TrainerInviteViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
Labels: 🛠️ Fix, 🌲 정호
