Repository YAPP-Github/TnT-Android, pull requests merged in 2025-01, with the labels that each got.

#6 [TNT-62] Lint 시스템 적용
  .github/workflows/android-ci.yaml
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/co/kr/tnt/KotlinAndroid.kt
  build-logic/src/main/kotlin/co/kr/tnt/KotlinLint.kt
  build-logic/src/main/kotlin/tnt.android.library.gradle.kts
  build-logic/src/main/kotlin/tnt.kotlin.library.gradle.kts
  build-logic/src/main/kotlin/tnt.verify.lint.gradle.kts
  build.gradle.kts
  config/detekt/detekt.yml
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Theme.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Type.kt
  data/src/main/java/co/kr/tnt/data/di/DataModule.kt
  data/src/main/java/co/kr/tnt/data/model/tnt/request/TnTRequest.kt
  data/src/main/java/co/kr/tnt/data/model/tnt/response/TnTResponse.kt
  data/src/main/java/co/kr/tnt/data/source/TnTDataSource.kt
  domain/src/main/java/co/kr/tnt/domain/usecase/TnTUseCase.kt
  feature/home/src/main/java/co/kr/tnt/home/HomeScreen.kt
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/MainViewModel.kt
  gradle/libs.versions.toml
Labels: 🔧 Chore, 🌲 정호

#7 [TNT-69] 협업툴 세팅
  .github/ISSUE_TEMPLATE/issue-form.yaml
  .github/pull_request_template.md
  .github/workflows/auto-assign.yaml
  .github/workflows/close-jira-issue.yaml
  .github/workflows/create-jira-issue.yaml
  .github/workflows/opened-issue-noti.yaml
  .github/workflows/opened-pr-noti.yaml
  .github/workflows/pr-review-noti.yaml
  script/detekt_hook_script
  script/prepare_commit_msg_script
  script/setup_lint.sh
  script/setup_prepare_commit_msg.sh
Labels: 🔧 Chore, 🌲 정호

#11 [TnT-64] 디자인 시스템 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Color.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Theme.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Type.kt
  core/designsystem/src/main/res/font/pretendard_bold.otf
  core/designsystem/src/main/res/font/pretendard_medium.otf
  core/designsystem/src/main/res/font/pretendard_regular.otf
  core/designsystem/src/main/res/font/pretendard_semibold.otf
Labels: 🎨 Design, 🌻 선정

#14 [TnT-85] 1차 컴포넌트 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Dialog.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TextField.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TopBar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/Button.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/model/ButtonSize.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/model/ButtonType.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/model/IconPosition.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Color.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Theme.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Type.kt
  core/designsystem/src/main/res/drawable/ic_arrow_left.xml
  core/designsystem/src/main/res/drawable/ic_delete.xml
Labels: 🎨 Design, 🌻 선정

#24 [TNT-143] 네비게이션 기초 로직 구현
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  feature/home/src/main/java/co/kr/tnt/home/HomeScreen.kt
  feature/home/src/main/java/co/kr/tnt/home/navigation/HomeNavigation.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTApp.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
Labels: ✨ Feat, 🌲 정호

#27 [TNT-103] 로그인 화면 UI 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/BottomSheet.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Divider.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Color.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  domain/src/main/java/co/kr/tnt/domain/model/Term.kt
  feature/login/.gitignore
  feature/login/build.gradle.kts
  feature/login/src/main/AndroidManifest.xml
  feature/login/src/main/java/co/kr/tnt/login/LoginContract.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginScreen.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginViewModel.kt
  feature/login/src/main/java/co/kr/tnt/login/model/TermState.kt
  feature/login/src/main/java/co/kr/tnt/login/navigation/LoginNavigation.kt
  feature/login/src/main/res/drawable/ic_check_box_disable.xml
  feature/login/src/main/res/drawable/ic_check_box_enable.xml
  feature/login/src/main/res/drawable/ic_kakao.xml
  feature/login/src/main/res/drawable/img_trainer_and_trainee.xml
  feature/login/src/main/res/values/strings.xml
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  settings.gradle.kts
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#29 [TNT-116] 권한 부여 기본 로직 구현
  .github/auto-assign-config.yaml
  .github/workflows/auto-assign.yaml
  app/src/main/AndroidManifest.xml
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/image/Image.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/co/kr/tnt/ui/extensions/Context.kt
  core/ui/src/main/java/co/kr/tnt/ui/permission/PermissionRequestDialog.kt
  core/ui/src/main/java/co/kr/tnt/ui/permission/TnTPermission.kt
  core/ui/src/main/res/values/strings.xml
  feature/trainee/signup/build.gradle.kts
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupScreen.kt
  feature/trainer/signup/build.gradle.kts
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupScreen.kt
  gradle/libs.versions.toml
Labels: ✨ Feat, 🌲 정호

#31 [TNT-117] 이미지 피커 구현
  app/src/main/AndroidManifest.xml
  core/ui/src/main/java/co/kr/tnt/ui/coil/ResizeTransformation.kt
  core/ui/src/main/java/co/kr/tnt/ui/permission/PermissionRequestDialog.kt
  core/ui/src/main/java/co/kr/tnt/ui/permission/TnTPermission.kt
  domain/src/main/java/co/kr/tnt/domain/Constants.kt
  feature/trainee/signup/build.gradle.kts
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupScreen.kt
  feature/trainer/signup/build.gradle.kts
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupScreen.kt
Labels: ✨ Feat, 🌲 정호

#34 [TNT-115] 연결코드 화면 UI 구현 및 연결
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TextField.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Toast.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TopBar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/model/ButtonType.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/image/Image.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/image/model/ProfileType.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Color.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/theme/Type.kt
  core/designsystem/src/main/res/drawable/ic_warning.xml
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/co/kr/tnt/ui/model/DefaultUserProfile.kt
  core/ui/src/main/res/drawable/img_boom_3x.png
  core/ui/src/main/res/drawable/img_connection_complete_background_3x.png
  core/ui/src/main/res/drawable/img_default_profile_trainee.xml
  core/ui/src/main/res/drawable/img_default_profile_trainer.xml
  core/ui/src/main/res/values/strings.xml
  domain/src/main/java/co/kr/tnt/domain/model/UserType.kt
  feature/home/src/main/java/co/kr/tnt/home/HomeScreen.kt
  feature/home/src/main/java/co/kr/tnt/home/navigation/HomeNavigation.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionScreen.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/model/RoleState.kt
  feature/roleselect/src/main/res/values/strings.xml
  feature/trainee/connect/.gitignore
  feature/trainee/connect/build.gradle.kts
  feature/trainee/connect/src/main/AndroidManifest.xml
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/PTSessionFormPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectCompletePage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectContract.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/component/CodeTextField.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/model/InputState.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/model/PTSessionFormData.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/navigation/TraineeConnectNavigation.kt
  feature/trainee/connect/src/main/res/values/strings.xml
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeNoteForTrainerScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineePTPurposeScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileCompleteScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupScreen.kt
  feature/trainer/connect/.gitignore
  feature/trainer/connect/build.gradle.kts
  feature/trainer/connect/src/main/AndroidManifest.xml
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/CodeGenerationPage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectCompletePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectContract.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectScreen.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/navigation/TrainerConnectNavigation.kt
  feature/trainer/connect/src/main/res/values/strings.xml
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileCompleteScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupScreen.kt
  settings.gradle.kts
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#35 [TNT-164] 네트워크 기본 세팅
  .github/workflows/android-ci.yaml
  app/build.gradle.kts
  data/network/build.gradle.kts
  data/network/src/main/java/co/kr/data/network/authenticator/Authenticator.kt
  data/network/src/main/java/co/kr/data/network/di/MonitorModule.kt
  data/network/src/main/java/co/kr/data/network/di/NetworkModule.kt
  data/network/src/main/java/co/kr/data/network/interceptor/SessionInterceptor.kt
  data/network/src/main/java/co/kr/data/network/model/base/BaseErrorResponse.kt
  data/network/src/main/java/co/kr/data/network/model/exception/NetworkException.kt
  data/network/src/main/java/co/kr/data/network/monitor/NetworkSessionMonitor.kt
  data/network/src/main/java/co/kr/data/network/provider/SessionProvider.kt
  data/network/src/main/java/co/kr/data/network/util/NetworkHandler.kt
  data/session/.gitignore
  data/session/build.gradle.kts
  data/session/src/main/AndroidManifest.xml
  data/session/src/main/java/co/kr/data/session/SessionProviderImpl.kt
  data/session/src/main/java/co/kr/data/session/di/SessionModule.kt
  domain/src/main/java/co/kr/tnt/domain/monitor/SessionMonitor.kt
  feature/main/src/main/java/co/kr/tnt/main/MainActivity.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTApp.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  settings.gradle.kts
Labels: ✨ Feat, 🌲 정호

#36 [TNT-103] 로그인 구현
  .github/workflows/android-ci.yaml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/co/kr/tnt/TnTApplication.kt
  core/login/.gitignore
  core/login/build.gradle.kts
  core/login/src/main/AndroidManifest.xml
  core/login/src/main/java/co/kr/tnt/login/LoginAccessToken.kt
  core/login/src/main/java/co/kr/tnt/login/LoginException.kt
  core/login/src/main/java/co/kr/tnt/login/LoginSdk.kt
  core/login/src/main/java/co/kr/tnt/login/kakao/KakaoAccessToken.kt
  core/login/src/main/java/co/kr/tnt/login/kakao/KakaoLoginSdk.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  data/network/src/main/java/co/kr/data/network/di/NetworkModule.kt
  data/network/src/main/java/co/kr/data/network/model/LoginRequest.kt
  data/network/src/main/java/co/kr/data/network/model/LoginResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/service/TnTService.kt
  data/network/src/main/java/co/kr/data/network/source/LoginRemoteDataSource.kt
  data/network/src/main/java/co/kr/data/network/source/TnTDataSource.kt
  data/network/src/main/java/co/kr/data/network/tnt/request/TnTRequest.kt
  data/network/src/main/java/co/kr/data/network/tnt/response/TnTResponse.kt
  data/repository/src/main/java/co/kr/data/repository/LoginRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/TnTRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/di/RepositoryModule.kt
  data/session/src/main/java/co/kr/data/session/SessionProviderImpl.kt
  data/storage/src/main/java/co/kr/data/storage/source/SessionLocalDataSource.kt
  domain/src/main/java/co/kr/tnt/domain/model/AuthType.kt
  domain/src/main/java/co/kr/tnt/domain/model/LoginResult.kt
  domain/src/main/java/co/kr/tnt/domain/model/TnT.kt
  domain/src/main/java/co/kr/tnt/domain/repository/LoginRepository.kt
  domain/src/main/java/co/kr/tnt/domain/repository/TnTRepository.kt
  domain/src/main/java/co/kr/tnt/domain/usecase/TnTUseCase.kt
  feature/home/src/main/java/co/kr/tnt/home/navigation/HomeNavigation.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/co/kr/tnt/login/LoginContract.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginScreen.kt
  feature/login/src/main/java/co/kr/tnt/login/LoginViewModel.kt
  feature/login/src/main/java/co/kr/tnt/login/navigation/LoginNavigation.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/MainViewModel.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionNavigation.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionScreen.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ Feat, 🌲 정호

#37 [TNT-114] 회원가입 화면 플로우 연결
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/TextField.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/res/values/strings.xml
  feature/login/src/main/java/co/kr/tnt/login/LoginViewModel.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectScreen.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/navigation/TraineeConnectNavigation.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeNoteForTrainerPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineePTPurposePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileCompleteScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpCompletePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpContract.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/navigation/TraineeSignUpNavigation.kt
  feature/trainee/signup/src/main/res/values/strings.xml
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/CodeGenerationPage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectContract.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectScreen.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/navigation/TrainerConnectNavigation.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileCompleteScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupPage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpCompletePage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpContract.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/navigation/TrainerSignUpNavigation.kt
  feature/trainer/signup/src/main/res/values/strings.xml
Labels: ✨ Feat, 🎨 Design, 🌻 선정

#54 [TNT-114] 회원가입 데이터 취합 및 API 연동
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/java/co/kr/tnt/ui/util/FileUtils.kt
  core/ui/src/main/res/values/strings.xml
  data/network/src/main/java/co/kr/data/network/model/SignUpRequest.kt
  data/network/src/main/java/co/kr/data/network/model/SignUpResponse.kt
  data/network/src/main/java/co/kr/data/network/service/ApiService.kt
  data/network/src/main/java/co/kr/data/network/source/SignUpRemoteDataSource.kt
  data/repository/build.gradle.kts
  data/repository/src/main/java/co/kr/data/repository/SignUpRepositoryImpl.kt
  data/repository/src/main/java/co/kr/data/repository/di/RepositoryModule.kt
  domain/src/main/java/co/kr/tnt/domain/model/SignUpResult.kt
  domain/src/main/java/co/kr/tnt/domain/model/UserType.kt
  domain/src/main/java/co/kr/tnt/domain/repository/SignUpRepository.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionContract.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionNavigation.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionScreen.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/RoleSelectionViewModel.kt
  feature/roleselect/src/main/java/co/kr/tnt/roleselect/model/RoleState.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/CodeEntryPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/PTSessionFormPage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectCompletePage.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectContract.kt
  feature/trainee/connect/src/main/java/co/kr/tnt/trainee/connect/TraineeConnectViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeBasicInfoPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeNoteForTrainerPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineePTPurposePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeProfileSetupPage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpCompletePage.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpContract.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpScreen.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/TraineeSignUpViewModel.kt
  feature/trainee/signup/src/main/java/co/kr/tnt/trainee/signup/navigation/TraineeSignUpNavigation.kt
  feature/trainee/signup/src/main/res/values/strings.xml
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/CodeGenerationPage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TraineeProfilePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectCompletePage.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectContract.kt
  feature/trainer/connect/src/main/java/co/kr/tnt/trainer/connect/TrainerConnectViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerProfileSetupPage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpCompletePage.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpContract.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpScreen.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/TrainerSignUpViewModel.kt
  feature/trainer/signup/src/main/java/co/kr/tnt/trainer/signup/navigation/TrainerSignUpNavigation.kt
Labels: ✨ Feat, 🌻 선정

#56 [TNT-190] 트레이너 연결 요청 팝업 다이얼로그 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Dialog.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Toggle.kt
  core/designsystem/src/main/res/drawable/ic_check_false.xml
  core/designsystem/src/main/res/drawable/ic_check_true.xml
  core/designsystem/src/main/res/drawable/ic_round_warning.xml
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTCheckToggleDialog.kt
Labels: ✨ Feat, 🎨 Design, ❓ Question, 🌻 선정

#57 [TNT-175] 캘린더 컴포넌트 구현
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/CalendarSelector.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/MonthCalendar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/WeekCalendar.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/composable/CalendarCell.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/composable/WeekLabels.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/model/DayIndicatorState.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/calendar/model/DayState.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/utils/TextUnit.kt
  core/designsystem/src/main/res/drawable/ic_bold_arrow_left.xml
  core/designsystem/src/main/res/drawable/ic_bold_arrow_right.xml
  core/designsystem/src/main/res/drawable/ic_star_candy.xml
  core/designsystem/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨ Feat, 🎨 Design, 🌲 정호

#58 [TNT-185] 트레이니 마이페이지 UI 구현
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Dialog.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/Toggle.kt
  core/designsystem/src/main/java/co/kr/tnt/designsystem/component/button/Button.kt
  core/navigation/src/main/java/co/kr/tnt/navigation/RouteModel.kt
  core/ui/src/main/java/co/kr/tnt/ui/component/TnTMyPageButton.kt
  core/ui/src/main/java/co/kr/tnt/ui/model/RecordChip.kt
  core/ui/src/main/res/values/strings.xml
  feature/login/src/main/java/co/kr/tnt/login/navigation/LoginNavigation.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTAppState.kt
  feature/main/src/main/java/co/kr/tnt/main/ui/TnTNavHost.kt
  feature/trainee/mypage/.gitignore
  feature/trainee/mypage/build.gradle.kts
  feature/trainee/mypage/src/main/AndroidManifest.xml
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageContract.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageScreen.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/TraineeMyPageViewModel.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/model/DialogState.kt
  feature/trainee/mypage/src/main/java/co/kr/tnt/trainee/mypage/navigation/TraineeMyPageNavigation.kt
  feature/trainee/mypage/src/main/res/values/strings.xml
  feature/webview/.gitignore
  feature/webview/build.gradle.kts
  feature/webview/src/main/AndroidManifest.xml
  feature/webview/src/main/java/co/kr/tnt/feature/webview/WebViewNavigation.kt
  feature/webview/src/main/java/co/kr/tnt/feature/webview/WebViewScreen.kt
  settings.gradle.kts
Labels: ✨ Feat, 🎨 Design, 🌻 선정
